.container .details_pane {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.container .details_pane.light {
  background-color: #ffffff;
  box-shadow: 0 0 10px #ececec;
}

.container .details_pane.dark {
  background-color: #1e2a47;
  box-shadow: 0 0 5px #646464;
}

.container .details_pane .githubImg {
  height: 100%;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .details_pane .githubLogo {
  border-radius: 50%;
}

.container .details_pane .details {
  width: 100%;
  margin-left: 20px;
  padding: 5px;
}

.container .details_pane .details.light {
  color: #000000;
}

.container .details_pane .details.dark {
  color: #ffffff;
}

.container .details_pane .details .details_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .details_pane .details .details_header .profile_name {
  font-weight: bold;
  font-size: 1.4rem;
}

.container .details_pane .details .details_header .joinedDate {
  color: #888888;
}

.container .details_pane .details .username {
  color: #046fe5;
}

.container .details_pane .details .profile_bio {
  margin: 20px 0;
}

.container .details_pane .details .profile_info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
}

.container .details_pane .details .profile_info .detail_heading {
  color: #5775a2;
  font-size: .9rem;
}

.container .details_pane .details .profile_info .detail_info {
  font-size: 1.2rem;
}

.container .details_pane .details .profile_info.light {
  background-color: #f6f8ff;
}

.container .details_pane .details .profile_info.dark {
  background-color: #141c2f;
}

.container .details_pane .details .icons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  height: 83px;
  margin-top: 36px;
  font-size: 0.88rem;
}

.container .details_pane .details .icons .box {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 750px) {
  .container .details_pane {
    flex-direction: column;
  }

  .container .details_pane .githubImg {
    align-self: center;
  }

  .container .details_pane .details .details_header {
    flex-direction: column;
  }

  .container .details_pane .details {
    margin-left: 0;
  }

  .container .details_pane .details .username {
    text-align: center;
  }
  
  .container .details_pane .details .profile_bio {
    margin: 8px 0;
    text-align: justify;
  }

  .container .details_pane .details .icons {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin-top: 15px;
  }
  
  .container .details_pane {
    padding-bottom: 80px;
  }

  .container .details_pane .details .profile_info {
    margin: 15px 0px;
  }
}