.container {
  width: 750px;
  height: 550px;
  padding: 10px 15px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.container > * {
  border-radius: 12px;
}

@media (max-width: 750px) {
  .container {
    width: 360px;
  }
}