/**
* button color : #0079ff
* button hover color : #60abff
* webpage background : #141d2f
* container background : #1e2a47
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* background-color: #141d2f; */
  display: flex;
  align-items: center;
  justify-content: center;
}